{% include "header.html" %}
{% block content %}

        <div class="row mt-5">
          <form method="POST">
            <div class="mb-3 mt-3">
              <input type="text" class="form-control" id="keyword" placeholder="Search using a keyword" name="keyword" required>
            </div>
              <div class="text-center">
                <button type="example_a" class="btn btn-dark mx-auto">Get sentiment analysis</button>
              </div>
          </form>
        </div>
        {% if final %}

        <div class="row px-0">
                    <h3 class="mt-5 px-0 fst-italic">Sentiment analysis of the keyword "{{keyword}}" is:</h3>
            <h4 class="px-0">Percentages of tweets</h4>
                    <table class="mt-4 table table-bordered">
                        <thead class="table-dark">
                         <tr>
                            <th>Sentiment</th>
                            <th>Percentage</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td>Positive</td>
                               <td>{{pos_per}}%</td>
                            </tr>
                            <tr>
                               <td>Neutral</td>
                               <td>{{neu_per}}%</td>
                            </tr>
                            <tr>
                               <td>Negative</td>
                               <td>{{neg_per}}%</td>
                            </tr>
                         </tbody>
                      </table>
                    <h4  class="px-0">Positive tweets</h4>
                    <table class="mt-4 table table-bordered">
                        <thead class="table-dark">
                         <tr>
                            <th>S.No</th>
                            <th>Tweet</th>
                          </tr>
                        </thead>
                        <tbody>
                             {% for tweet in pos_tweets %}
                            <tr>
                               <td>{{loop.index}}</td>
                               <td>{{tweet}}</td>
                            </tr>
                              {% endfor %}
                         </tbody>
                      </table>
            <h4 class="px-0">Negative tweets</h4>
                   <table class="mt-4 table table-bordered">
                        <thead class="table-dark">
                         <tr>
                            <th>S.No</th>
                            <th>Tweet</th>
                          </tr>
                        </thead>
                        <tbody>
                             {% for tweet in neg_tweets %}
                            <tr>
                               <td>{{loop.index}}</td>
                               <td>{{tweet}}</td>
                            </tr>
                              {% endfor %}
                         </tbody>
                      </table>
            </div>

            {% else %}
            {% endif %}

{% endblock %}
{% include "footer.html" %}