{% include "header.html" %}
{% block content %}

 <div class="custom-tab">
     <a  href="{{ url_for('sentiment') }}"><button class="tablinks">Sentiment analysis</button></a>
     <a  href="{{ url_for('favorites_retweets') }}"> <button class="tablinks">Preliminary Analysis</button></a>
     <a  href="{{ url_for('follower_s') }}"> <button class="tablinks">Network Graph</button></a>
     <a  href="{{ url_for('tweets_count') }}"> <button class="tablinks active">Home Timeline Analysis</button></a>
     <a  href="{{ url_for('wordcloud') }}"><button class="tablinks">WordCloud</button></a>
</div>

<div id="London" class="custom-tabcontent">

  <div class="row mt-5">
      <form method="POST">
        <!--<div class="mb-3 mt-3">
          <input type="text" class="form-control" id="word" placeholder="Search a user timeline" name="word" required>
        </div>-->
          <div class="text-center">
            <button type="example_a" id="tweetcount" class="btn btn-dark mx-auto">Generate tweet count</button>
          </div>
      </form>
  </div>

{% if img_data %}
    <div class="mx-auto text-center" id="word_cloud">
  <img class="wordcloud" src="data:image/jpeg;base64,{{ img_data }}"/>
    </div>
{% endif %}
</div>

{% endblock %}
{% include "footer.html" %}